<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand ng-binding" href="index.html">conduit</a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/home">Home</a>
            </li>       
            <li class="nav-item">
                <a class="nav-link" routerLink="/article">
                    <i class="ion-compose"></i>&nbsp;New Article
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/article">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register">Usuário</a>
            </li>
            <li class="nav-item">
                <a routerLink="/home" class="nav-link"> Sair</a>
            </li>
        </ul>
    </div>  
</nav>


<div class="container page">
    <div class="row">
        <div class="col-md-9">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="Global feed" *ngIf="articles$ | async as articles ">

                  
                        <mat-card class="card-global-article" *ngFor="let art of articles">
                            <div>
                                <mat-card-header>
                                    <div  mat-card-avatar class="example-header-image"><img src="https://api.realworld.io/images/demo-avatar.png" ></div>
                                  <mat-card-title> <p>{{art.author.username}}</p> </mat-card-title>
                                  <mat-card-subtitle> 	{{art.createdAt }} </mat-card-subtitle>
                                  
                                 
                                </mat-card-header>
                                <mat-card-content>
                                    <mat-card-title>{{art.title}}</mat-card-title>
                                    <mat-card-subtitle>{{art.description}}</mat-card-subtitle>
                                </mat-card-content>
                            </div>
                           
                            <div>
                                <mat-card-actions>
                                    <button 
                                   
                                    class="btn btn-sm btn-outline-primary">
                                        <i class="ion-heart"></i>
                                        &nbsp;
                                         <span id="counter">{{art.favoritesCount + 3}}</span>
                                    </button>
                                  </mat-card-actions>
                            </div>
                            
                          </mat-card>
                    
            
                </mat-tab>
            
                <mat-tab label="Your Feed">
            
                </mat-tab>
              </mat-tab-group>
            
        </div>
        <div class="col-md-3 card-implementations">
            <h4>Popular tags</h4>
            <div *ngIf="tags$ | async as tags ">
                <ul class="tag-list" *ngFor="let tag of tags">
                    <li>  <a class="tag-default tag-pill ng-binding ng-scope">{{tag}}</a>                    <li>  <a class="tag-default tag-pill ng-binding ng-scope">{{tag}}</a>

                    </li>
                    
                </ul>

                  
                
            </div>
        </div>
    </div>
</div>





<!-- <div class="article-page">

    <div class="banner">
        <div class="container">

            <h1>How to build webapps that scale</h1>

            <div class="article-meta">
                <a href=""><img src="http://i.imgur.com/Qr71crq.jpg"/></a>
                <div class="info">
                    <a href="" class="author">Eric Simons</a>
                    <span class="date">January 20th</span>
                </div>
                <button class="btn btn-sm btn-outline-secondary">
                    <i class="ion-plus-round"></i>
                    &nbsp;
                    Follow Eric Simons <span class="counter">(10)</span>
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-sm btn-outline-primary">
                    <i class="ion-heart"></i>
                    &nbsp;
                    Favorite Post <span class="counter">(29)</span>
                </button>
            </div>

        </div>
    </div>

    <div class="container page">

        <div class="row article-content">
            <div class="col-md-12">
                <p>
                    Web development technologies have evolved at an incredible clip over the past few years.
                </p>
                <h2 id="introducing-ionic">Introducing RealWorld.</h2>
                <p>It's a great solution for learning how other frameworks work.</p>
            </div>
        </div>

        <hr/>

        <div class="article-actions">
            <div class="article-meta">
                <a href="profile.html"><img src="http://i.imgur.com/Qr71crq.jpg"/></a>
                <div class="info">
                    <a href="" class="author">Eric Simons</a>
                    <span class="date">January 20th</span>
                </div>

                <button class="btn btn-sm btn-outline-secondary">
                    <i class="ion-plus-round"></i>
                    &nbsp;
                    Follow Eric Simons
                </button>
                &nbsp;
                <button class="btn btn-sm btn-outline-primary">
                    <i class="ion-heart"></i>
                    &nbsp;
                    Favorite Post <span class="counter">(29)</span>
                </button>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-md-8 offset-md-2">

                <form class="card comment-form">
                    <div class="card-block">
                        <textarea class="form-control" placeholder="Write a comment..." rows="3"></textarea>
                    </div>
                    <div class="card-footer">
                        <img src="http://i.imgur.com/Qr71crq.jpg" class="comment-author-img"/>
                        <button class="btn btn-sm btn-primary">
                            Post Comment
                        </button>
                    </div>
                </form>

                <div class="card">
                    <div class="card-block">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="comment-author">
                            <img src="http://i.imgur.com/Qr71crq.jpg" class="comment-author-img"/>
                        </a>
                        &nbsp;
                        <a href="" class="comment-author">Jacob Schmidt</a>
                        <span class="date-posted">Dec 29th</span>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="comment-author">
                            <img src="http://i.imgur.com/Qr71crq.jpg" class="comment-author-img"/>
                        </a>
                        &nbsp;
                        <a href="" class="comment-author">Jacob Schmidt</a>
                        <span class="date-posted">Dec 29th</span>
                        <span class="mod-options">
              <i class="ion-edit"></i>
              <i class="ion-trash-a"></i>
            </span>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div> -->
<!-- <div *ngIf="articles$ | async as articles ">

    <div *ngFor="let art of articles">
        <p>{{art.body}}</p>
    </div>
    
</div> -->
